log/*.log
tmp/**/*
*.swp
*.swo
*.sh
config/database.yml
db/*.sqlite3
d.diff
*.log
db/schema.rb
restart_service
config/*.sphinx.conf
config/sphinx.zh.yml
db/sphinx/**/*
public/files/**/*
log/*.pid
db/sphinx/*/*
pull
push
